<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relação de alunos da turma Técnico em Desenvolvimento de Software - 2019/2020</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="app">
        <h1>Relação de Alunos</h1>
        <input type="text" placeholder="Código" v-model="codigo"><br> <br>
        <input type="text" placeholder="Nome" v-model="nome"> <br> <br>
        <button v-on:click="salvar">Salvar</button> <br><br>

        <ul>
            <li v-for = "aluno in alunos">
                {{ aluno.nome }}
            </li>
        </ul>

        <table style="border: 1px solid gray;">
            <thead style="background-color: #dcdcdc;">
                <th>Código</th>
                <th>Nome</th>
            </thead>
            <tbody>
                <tr v-for="aluno in alunos">
                    <td>{{aluno.codigo}}</td>
                    <td>{{aluno.nome}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr v-if="alunos.length == 0">
                    <td colspan="2">Nenhum aluno cadastrado</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <script>
        let app = new Vue({
            el: "#app",
            data: {
                alunos: [],
                codigo:'',
                nome:''             
            }, methods: {
                salvar: function(){                
                this.alunos.push({
                    codigo: this.codigo,
                    nome: this.nome
                })                    
                }
            }            
        })
    </script>
</body>
</html>