html, body{
    background:rgb(255, 213, 79);
    margin: 0;
    width: 100%;
    height: 100%;    
}
#recheio{
    width: 200px;
    height: 90px;
    margin: 50px auto 0 auto;
    background-color: rgb(242, 132, 181);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top: 8px solid rgb(248,153,195);
    display: flex;
    justify-content: center; 
    padding-top: 230px;    
      
}
#palito{
    width: 50px;
    height: 70px;
    background-color: rgb(237,170,125);
    border-top: 10px solid rgb(218,160,110);
    margin: auto;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.olhos{
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color: rgb(231,56,149);
}
#boca{
    background-color: rgb(231,56,149);
    width: 60px;
    height: 28px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    margin: 20px 10px 10px 10px;
}
.iris{
    background-color: white;
    width: 4px;
    height: 4px;
    border-radius: 5px;
    margin: 2px 2px 0 5px;
}
#mancha{
    background-color: rgb(248,153,195);
    width: 40px;
    height: 80px;
    position: absolute;
    transform: rotate(-38deg);
    border-radius: 60%;
    top: 75px;
    right: 265px;
}
#div_icon{
    
}